.common-bac{
    background: url("../img/welcome.jpg") no-repeat;
    background-size: cover;
}
.container{
    background-color: #ffffff;
    border-radius: 20px;
    padding-top: 20px;
    width: 75%;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 600px;
    transform: translate(-50%, -50%);
}
.point{
    cursor: pointer;
    text-decoration: none;
    padding-right:10px;
}
.common-btn{
    margin: 5px 0 0 10px;
}