.login-bac{
    background: url("../img/login.jpg") no-repeat;
    background-size: cover;
}
.login-mid{
    width: 60%;
    background-color: #ffffff;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 250px;
    transform: translate(-50%, -50%);
}
.login-title{
    line-height: 60px;
}